:root {
  --speed: 5;
}

body {
  margin-left: 15%;
}

label {
  display: inline-block;
  font-size: 25pt;
  margin-left: 15%;
}
.buttonInput {
  display: inline-flex;
}
#stopButton {
  margin-left: 150px;
  background-color: red;
  font-size: 25pt;
  box-shadow: 2px 2px black;
}
#spinButton {
  margin-left: 100px;
  background-color: greenyellow;
  font-size: 25pt;
  box-shadow: 2px 2px black;
}

.machine {
  background-color: peru;
  border: 2px dashed black;
  height: 300px;
  width: 900px;
  margin: 50px;

  display: flex;
  z-index: 5;
}

#inpSpeed {
  font-size: 30pt;
  margin: 30px;
  width: 50px;
}

.slot {
  height: 250px;
  width: 250px;
  margin: 20px;

  background-color: beige;
  border: 2px solid black;
  text-align: center;
  font-size: 100px;
  line-height: 250px;

  overflow: hidden;
  z-index: 1;
}

.slot > .value {
  z-index: 3;
  animation-name: slotspin;
  animation-iteration-count: infinite;
  animation-duration: calc(1s / var(--speed));
}

@keyframes slotspin {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(200px);
  }
}
